NET "io_led[0]" LOC = P97;
NET "io_led[0]" IOSTANDARD = LVTTL;
NET "io_led[1]" LOC = P98;
NET "io_led[1]" IOSTANDARD = LVTTL;
NET "io_led[2]" LOC = P94;
NET "io_led[2]" IOSTANDARD = LVTTL;
NET "io_led[3]" LOC = P95;
NET "io_led[3]" IOSTANDARD = LVTTL;
NET "io_led[4]" LOC = P92;
NET "io_led[4]" IOSTANDARD = LVTTL;
NET "io_led[5]" LOC = P93;
NET "io_led[5]" IOSTANDARD = LVTTL;
NET "io_led[6]" LOC = P87;
NET "io_led[6]" IOSTANDARD = LVTTL;
NET "io_led[7]" LOC = P88;
NET "io_led[7]" IOSTANDARD = LVTTL;

NET "io_led[8]" LOC = P84;
NET "io_led[8]" IOSTANDARD = LVTTL;
NET "io_led[9]" LOC = P85;
NET "io_led[9]" IOSTANDARD = LVTTL;
NET "io_led[10]" LOC = P82;
NET "io_led[10]" IOSTANDARD = LVTTL;
NET "io_led[11]" LOC = P83;
NET "io_led[11]" IOSTANDARD = LVTTL;
NET "io_led[12]" LOC = P80;
NET "io_led[12]" IOSTANDARD = LVTTL;
NET "io_led[13]" LOC = P81;
NET "io_led[13]" IOSTANDARD = LVTTL;
NET "io_led[14]" LOC = P11;
NET "io_led[14]" IOSTANDARD = LVTTL;
NET "io_led[15]" LOC = P14;
NET "io_led[15]" IOSTANDARD = LVTTL;

NET "io_led[16]" LOC = P15;
NET "io_led[16]" IOSTANDARD = LVTTL;
NET "io_led[17]" LOC = P16;
NET "io_led[17]" IOSTANDARD = LVTTL;
NET "io_led[18]" LOC = P17;
NET "io_led[18]" IOSTANDARD = LVTTL;
NET "io_led[19]" LOC = P21;
NET "io_led[19]" IOSTANDARD = LVTTL;
NET "io_led[20]" LOC = P22;
NET "io_led[20]" IOSTANDARD = LVTTL;
NET "io_led[21]" LOC = P23;
NET "io_led[21]" IOSTANDARD = LVTTL;
NET "io_led[22]" LOC = P24;
NET "io_led[22]" IOSTANDARD = LVTTL;
NET "io_led[23]" LOC = P26;
NET "io_led[23]" IOSTANDARD = LVTTL;

NET "io_seg[0]" LOC = P5;
NET "io_seg[0]" IOSTANDARD = LVTTL;
NET "io_seg[1]" LOC = P8;
NET "io_seg[1]" IOSTANDARD = LVTTL;
NET "io_seg[2]" LOC = P144;
NET "io_seg[2]" IOSTANDARD = LVTTL;
NET "io_seg[3]" LOC = P143;
NET "io_seg[3]" IOSTANDARD = LVTTL;
NET "io_seg[4]" LOC = P2;
NET "io_seg[4]" IOSTANDARD = LVTTL;
NET "io_seg[5]" LOC = P6;
NET "io_seg[5]" IOSTANDARD = LVTTL;
NET "io_seg[6]" LOC = P1;
NET "io_seg[6]" IOSTANDARD = LVTTL;
NET "io_seg[7]" LOC = P141;
NET "io_seg[7]" IOSTANDARD = LVTTL;

NET "io_sel[0]" LOC = P9;
NET "io_sel[0]" IOSTANDARD = LVTTL;
NET "io_sel[1]" LOC = P10;
NET "io_sel[1]" IOSTANDARD = LVTTL;
NET "io_sel[2]" LOC = P7;
NET "io_sel[2]" IOSTANDARD = LVTTL;
NET "io_sel[3]" LOC = P12;
NET "io_sel[3]" IOSTANDARD = LVTTL;

# PULLDOWN is needed to prevent floating inputs
NET "io_button[0]" LOC = P137;
NET "io_button[0]" IOSTANDARD = LVTTL;
NET "io_button[0]" PULLDOWN;
NET "io_button[1]" LOC = P140;
NET "io_button[1]" IOSTANDARD = LVTTL;
NET "io_button[1]" PULLDOWN;
NET "io_button[2]" LOC = P139;
NET "io_button[2]" IOSTANDARD = LVTTL;
NET "io_button[2]" PULLDOWN;
NET "io_button[3]" LOC = P142;
NET "io_button[3]" IOSTANDARD = LVTTL;
NET "io_button[3]" PULLDOWN;
NET "io_button[4]" LOC = P138;
NET "io_button[4]" IOSTANDARD = LVTTL;
NET "io_button[4]" PULLDOWN;

NET "io_dip[23]" LOC = P57;
NET "io_dip[23]" IOSTANDARD = LVTTL;
NET "io_dip[23]" PULLDOWN;
NET "io_dip[22]" LOC = P58;
NET "io_dip[22]" IOSTANDARD = LVTTL;
NET "io_dip[22]" PULLDOWN;
NET "io_dip[21]" LOC = P66;
NET "io_dip[21]" IOSTANDARD = LVTTL;
NET "io_dip[21]" PULLDOWN;
NET "io_dip[20]" LOC = P67;
NET "io_dip[20]" IOSTANDARD = LVTTL;
NET "io_dip[20]" PULLDOWN;
NET "io_dip[19]" LOC = P74;
NET "io_dip[19]" IOSTANDARD = LVTTL;
NET "io_dip[19]" PULLDOWN;
NET "io_dip[18]" LOC = P75;
NET "io_dip[18]" IOSTANDARD = LVTTL;
NET "io_dip[18]" PULLDOWN;
NET "io_dip[17]" LOC = P78;
NET "io_dip[17]" IOSTANDARD = LVTTL;
NET "io_dip[17]" PULLDOWN;
NET "io_dip[16]" LOC = P79;
NET "io_dip[16]" IOSTANDARD = LVTTL;
NET "io_dip[16]" PULLDOWN;

NET "io_dip[15]" LOC = P99;
NET "io_dip[15]" IOSTANDARD = LVTTL;
NET "io_dip[15]" PULLDOWN;
NET "io_dip[14]" LOC = P100;
NET "io_dip[14]" IOSTANDARD = LVTTL;
NET "io_dip[14]" PULLDOWN;
NET "io_dip[13]" LOC = P101;
NET "io_dip[13]" IOSTANDARD = LVTTL;
NET "io_dip[13]" PULLDOWN;
NET "io_dip[12]" LOC = P102;
NET "io_dip[12]" IOSTANDARD = LVTTL;
NET "io_dip[12]" PULLDOWN;
NET "io_dip[11]" LOC = P104;
NET "io_dip[11]" IOSTANDARD = LVTTL;
NET "io_dip[11]" PULLDOWN;
NET "io_dip[10]" LOC = P105;
NET "io_dip[10]" IOSTANDARD = LVTTL;
NET "io_dip[10]" PULLDOWN;
NET "io_dip[9]" LOC = P111;
NET "io_dip[9]" IOSTANDARD = LVTTL;
NET "io_dip[9]" PULLDOWN;
NET "io_dip[8]" LOC = P112;
NET "io_dip[8]" IOSTANDARD = LVTTL;
NET "io_dip[8]" PULLDOWN;

NET "io_dip[7]" LOC = P115;
NET "io_dip[7]" IOSTANDARD = LVTTL;
NET "io_dip[7]" PULLDOWN;
NET "io_dip[6]" LOC = P114;
NET "io_dip[6]" IOSTANDARD = LVTTL;
NET "io_dip[6]" PULLDOWN;
NET "io_dip[5]" LOC = P117;
NET "io_dip[5]" IOSTANDARD = LVTTL;
NET "io_dip[5]" PULLDOWN;
NET "io_dip[4]" LOC = P116;
NET "io_dip[4]" IOSTANDARD = LVTTL;
NET "io_dip[4]" PULLDOWN;
NET "io_dip[3]" LOC = P119;
NET "io_dip[3]" IOSTANDARD = LVTTL;
NET "io_dip[3]" PULLDOWN;
NET "io_dip[2]" LOC = P118;
NET "io_dip[2]" IOSTANDARD = LVTTL;
NET "io_dip[2]" PULLDOWN;
NET "io_dip[1]" LOC = P121;
NET "io_dip[1]" IOSTANDARD = LVTTL;
NET "io_dip[1]" PULLDOWN;
NET "io_dip[0]" LOC = P120;
NET "io_dip[0]" IOSTANDARD = LVTTL;
NET "io_dip[0]" PULLDOWN;
