//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 31 07:22:37 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "io_button(0)" LOCATE = SITE "P137" LEVEL 1;
COMP "io_button(2)" LOCATE = SITE "P139" LEVEL 1;
COMP "io_button(3)" LOCATE = SITE "P142" LEVEL 1;
COMP "io_button(4)" LOCATE = SITE "P138" LEVEL 1;
COMP "io_button[1]" LOCATE = SITE "P140" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "io_dip[0]" LOCATE = SITE "P120" LEVEL 1;
COMP "io_dip[1]" LOCATE = SITE "P121" LEVEL 1;
COMP "io_dip[2]" LOCATE = SITE "P118" LEVEL 1;
COMP "io_dip[3]" LOCATE = SITE "P119" LEVEL 1;
COMP "io_dip[4]" LOCATE = SITE "P116" LEVEL 1;
COMP "io_dip[5]" LOCATE = SITE "P117" LEVEL 1;
COMP "io_dip[6]" LOCATE = SITE "P114" LEVEL 1;
COMP "io_dip[7]" LOCATE = SITE "P115" LEVEL 1;
COMP "io_dip[8]" LOCATE = SITE "P112" LEVEL 1;
COMP "io_dip[9]" LOCATE = SITE "P111" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "io_led[0]" LOCATE = SITE "P97" LEVEL 1;
COMP "io_led[1]" LOCATE = SITE "P98" LEVEL 1;
COMP "io_led[2]" LOCATE = SITE "P94" LEVEL 1;
COMP "io_led[3]" LOCATE = SITE "P95" LEVEL 1;
COMP "io_led[4]" LOCATE = SITE "P92" LEVEL 1;
COMP "io_led[5]" LOCATE = SITE "P93" LEVEL 1;
COMP "io_led[6]" LOCATE = SITE "P87" LEVEL 1;
COMP "io_led[7]" LOCATE = SITE "P88" LEVEL 1;
COMP "io_led[8]" LOCATE = SITE "P84" LEVEL 1;
COMP "io_led[9]" LOCATE = SITE "P85" LEVEL 1;
COMP "io_seg[0]" LOCATE = SITE "P5" LEVEL 1;
COMP "io_seg[1]" LOCATE = SITE "P8" LEVEL 1;
COMP "io_seg[2]" LOCATE = SITE "P144" LEVEL 1;
COMP "io_seg[3]" LOCATE = SITE "P143" LEVEL 1;
COMP "io_seg[4]" LOCATE = SITE "P2" LEVEL 1;
COMP "io_seg[5]" LOCATE = SITE "P6" LEVEL 1;
COMP "io_seg[6]" LOCATE = SITE "P1" LEVEL 1;
COMP "io_seg[7]" LOCATE = SITE "P141" LEVEL 1;
COMP "io_sel[0]" LOCATE = SITE "P9" LEVEL 1;
COMP "io_sel[1]" LOCATE = SITE "P10" LEVEL 1;
COMP "io_sel[2]" LOCATE = SITE "P7" LEVEL 1;
COMP "io_sel[3]" LOCATE = SITE "P12" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "io_dip[10]" LOCATE = SITE "P105" LEVEL 1;
COMP "io_dip[11]" LOCATE = SITE "P104" LEVEL 1;
COMP "io_dip[20]" LOCATE = SITE "P67" LEVEL 1;
COMP "io_dip[12]" LOCATE = SITE "P102" LEVEL 1;
COMP "io_dip[21]" LOCATE = SITE "P66" LEVEL 1;
COMP "io_dip[13]" LOCATE = SITE "P101" LEVEL 1;
COMP "io_dip[22]" LOCATE = SITE "P58" LEVEL 1;
COMP "io_dip[14]" LOCATE = SITE "P100" LEVEL 1;
COMP "io_dip[23]" LOCATE = SITE "P57" LEVEL 1;
COMP "io_dip[15]" LOCATE = SITE "P99" LEVEL 1;
COMP "io_dip[16]" LOCATE = SITE "P79" LEVEL 1;
COMP "io_dip[17]" LOCATE = SITE "P78" LEVEL 1;
COMP "io_dip[18]" LOCATE = SITE "P75" LEVEL 1;
COMP "io_dip[19]" LOCATE = SITE "P74" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "io_led[10]" LOCATE = SITE "P82" LEVEL 1;
COMP "io_led[11]" LOCATE = SITE "P83" LEVEL 1;
COMP "io_led[20]" LOCATE = SITE "P22" LEVEL 1;
COMP "io_led[12]" LOCATE = SITE "P80" LEVEL 1;
COMP "io_led[21]" LOCATE = SITE "P23" LEVEL 1;
COMP "io_led[13]" LOCATE = SITE "P81" LEVEL 1;
COMP "io_led[22]" LOCATE = SITE "P24" LEVEL 1;
COMP "io_led[14]" LOCATE = SITE "P11" LEVEL 1;
COMP "io_led[23]" LOCATE = SITE "P26" LEVEL 1;
COMP "io_led[15]" LOCATE = SITE "P14" LEVEL 1;
COMP "io_led[16]" LOCATE = SITE "P15" LEVEL 1;
COMP "io_led[17]" LOCATE = SITE "P16" LEVEL 1;
COMP "io_led[18]" LOCATE = SITE "P17" LEVEL 1;
COMP "io_led[19]" LOCATE = SITE "P21" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "M_input2_q_5_1" BEL "M_input1_q_14_1" BEL "clk_BUFGP/BUFG"
        BEL "M_input1_q_14_2" BEL "M_input1_q_14_3" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "M_input1_q_14_4" BEL "M_input1_q_14_5" BEL "M_result_q_10" BEL
        "M_result_q_11" BEL "M_result_q_12" BEL "M_result_q_13" BEL
        "M_result_q_14" BEL "M_result_q_15" BEL "M_input2_q_6_1" BEL
        "M_input1_q_15_1" BEL "M_input1_q_15_2" BEL "M_input1_q_15_3" BEL
        "M_input2_q_7_1" BEL "M_input2_q_8_1" BEL "M_input2_q_9_1" BEL
        "M_input2_q_0" BEL "M_input2_q_1" BEL "M_input2_q_2" BEL
        "M_input2_q_3" BEL "M_input2_q_4" BEL "M_input2_q_5" BEL
        "M_input2_q_6" BEL "M_input2_q_7" BEL "M_input2_q_8" BEL
        "M_input2_q_9" BEL "seg/ctr/M_ctr_q_0" BEL "seg/ctr/M_ctr_q_1" BEL
        "seg/ctr/M_ctr_q_2" BEL "seg/ctr/M_ctr_q_3" BEL "seg/ctr/M_ctr_q_4"
        BEL "seg/ctr/M_ctr_q_5" BEL "seg/ctr/M_ctr_q_6" BEL
        "seg/ctr/M_ctr_q_7" BEL "seg/ctr/M_ctr_q_8" BEL "seg/ctr/M_ctr_q_9"
        BEL "seg/ctr/M_ctr_q_10" BEL "seg/ctr/M_ctr_q_11" BEL
        "seg/ctr/M_ctr_q_12" BEL "seg/ctr/M_ctr_q_13" BEL "seg/ctr/M_ctr_q_14"
        BEL "seg/ctr/M_ctr_q_15" BEL "seg/ctr/M_ctr_q_16" BEL
        "seg/ctr/M_ctr_q_17" BEL "M_result_q_0" BEL "M_result_q_1" BEL
        "confirm/M_last_q" BEL "M_result_q_2" BEL "M_result_q_3" BEL
        "M_result_q_4" BEL "M_result_q_5" BEL "M_result_q_6" BEL
        "M_result_q_7" BEL "M_result_q_8" BEL "M_result_q_9" BEL
        "M_input2_q_10_1" BEL "tst/M_state_q_FSM_FFd9" BEL
        "tst/M_state_q_FSM_FFd10" BEL "tst/M_state_q_FSM_FFd11" BEL
        "tst/M_state_q_FSM_FFd12" BEL "tst/M_counter_q_3" BEL
        "tst/M_counter_q_2" BEL "tst/M_counter_q_1" BEL "tst/M_counter_q_0"
        BEL "tst/andTest/M_state_q_FSM_FFd1" BEL
        "tst/andTest/M_state_q_FSM_FFd2" BEL "tst/andTest/M_state_q_FSM_FFd3"
        BEL "tst/andTest/M_state_q_FSM_FFd5" BEL
        "tst/andTest/M_state_q_FSM_FFd6" BEL "tst/andTest/M_state_q_FSM_FFd4"
        BEL "tst/andTest/M_state_q_FSM_FFd7" BEL "tst/andTest/M_timer_q_0" BEL
        "tst/andTest/M_timer_q_1" BEL "tst/andTest/M_timer_q_2" BEL
        "tst/andTest/M_timer_q_3" BEL "tst/andTest/M_timer_q_4" BEL
        "tst/andTest/M_timer_q_5" BEL "tst/andTest/M_timer_q_6" BEL
        "tst/andTest/M_timer_q_7" BEL "tst/andTest/M_timer_q_8" BEL
        "tst/andTest/M_timer_q_9" BEL "tst/andTest/M_timer_q_10" BEL
        "tst/andTest/M_timer_q_11" BEL "tst/andTest/M_timer_q_12" BEL
        "tst/andTest/M_timer_q_13" BEL "tst/andTest/M_timer_q_14" BEL
        "tst/andTest/M_timer_q_15" BEL "tst/andTest/M_timer_q_16" BEL
        "tst/andTest/M_timer_q_17" BEL "tst/andTest/M_timer_q_18" BEL
        "tst/andTest/M_timer_q_19" BEL "tst/andTest/M_timer_q_20" BEL
        "tst/andTest/M_timer_q_21" BEL "tst/andTest/M_timer_q_22" BEL
        "tst/andTest/M_timer_q_23" BEL "tst/andTest/M_timer_q_24" BEL
        "tst/andTest/M_timer_q_25" BEL "tst/andTest/M_timer_q_26" BEL
        "tst/andTest/M_timer_q_27" BEL "tst/addTest/M_state_q_FSM_FFd1" BEL
        "tst/addTest/M_state_q_FSM_FFd2" BEL "tst/addTest/M_state_q_FSM_FFd3"
        BEL "tst/addTest/M_state_q_FSM_FFd4" BEL
        "tst/addTest/M_state_q_FSM_FFd6" BEL "tst/addTest/M_state_q_FSM_FFd7"
        BEL "tst/addTest/M_state_q_FSM_FFd5" BEL
        "tst/addTest/M_state_q_FSM_FFd8" BEL "tst/addTest/M_state_q_FSM_FFd9"
        BEL "tst/addTest/M_timer_q_0" BEL "tst/addTest/M_timer_q_1" BEL
        "tst/addTest/M_timer_q_2" BEL "tst/addTest/M_timer_q_3" BEL
        "tst/addTest/M_timer_q_4" BEL "tst/addTest/M_timer_q_5" BEL
        "tst/addTest/M_timer_q_6" BEL "tst/addTest/M_timer_q_7" BEL
        "tst/addTest/M_timer_q_8" BEL "tst/addTest/M_timer_q_9" BEL
        "tst/addTest/M_timer_q_10" BEL "tst/addTest/M_timer_q_11" BEL
        "tst/addTest/M_timer_q_12" BEL "tst/addTest/M_timer_q_13" BEL
        "tst/addTest/M_timer_q_14" BEL "tst/addTest/M_timer_q_15" BEL
        "tst/addTest/M_timer_q_16" BEL "tst/addTest/M_timer_q_17" BEL
        "tst/addTest/M_timer_q_18" BEL "tst/addTest/M_timer_q_19" BEL
        "tst/addTest/M_timer_q_20" BEL "tst/addTest/M_timer_q_21" BEL
        "tst/addTest/M_timer_q_22" BEL "tst/addTest/M_timer_q_23" BEL
        "tst/addTest/M_timer_q_24" BEL "tst/addTest/M_timer_q_25" BEL
        "tst/addTest/M_timer_q_26" BEL "tst/addTest/M_timer_q_27" BEL
        "tst/xorTest/M_state_q_FSM_FFd5" BEL "tst/xorTest/M_state_q_FSM_FFd6"
        BEL "tst/xorTest/M_state_q_FSM_FFd7" BEL "tst/xorTest/M_timer_q_0" BEL
        "tst/xorTest/M_timer_q_1" BEL "tst/xorTest/M_timer_q_2" BEL
        "tst/xorTest/M_timer_q_3" BEL "tst/xorTest/M_timer_q_4" BEL
        "tst/xorTest/M_timer_q_5" BEL "tst/xorTest/M_timer_q_6" BEL
        "tst/xorTest/M_timer_q_7" BEL "tst/xorTest/M_timer_q_8" BEL
        "tst/xorTest/M_timer_q_9" BEL "tst/xorTest/M_timer_q_10" BEL
        "tst/xorTest/M_timer_q_11" BEL "tst/xorTest/M_timer_q_12" BEL
        "tst/xorTest/M_timer_q_13" BEL "tst/xorTest/M_timer_q_14" BEL
        "tst/xorTest/M_timer_q_15" BEL "tst/xorTest/M_timer_q_16" BEL
        "tst/xorTest/M_timer_q_17" BEL "tst/xorTest/M_timer_q_18" BEL
        "tst/xorTest/M_timer_q_19" BEL "tst/xorTest/M_timer_q_20" BEL
        "tst/xorTest/M_timer_q_21" BEL "tst/xorTest/M_timer_q_22" BEL
        "tst/xorTest/M_timer_q_23" BEL "tst/xorTest/M_timer_q_24" BEL
        "tst/xorTest/M_timer_q_25" BEL "tst/xorTest/M_timer_q_26" BEL
        "tst/xorTest/M_timer_q_27" BEL "M_input2_q_11_1" BEL "M_input2_q_0_1"
        BEL "M_input1_q_0" BEL "M_input2_q_0_2" BEL "M_input1_q_1" BEL
        "M_input2_q_0_3" BEL "M_input1_q_2" BEL "M_input1_q_3" BEL
        "M_input1_q_4" BEL "M_input1_q_5" BEL "M_input1_q_6" BEL
        "M_input1_q_7" BEL "M_input1_q_8" BEL "M_input1_q_9" BEL
        "M_input2_q_12_1" BEL "M_input2_q_1_1" BEL "M_input2_q_1_2" BEL
        "M_input1_q_10" BEL "M_input1_q_11" BEL "M_input1_q_12" BEL
        "M_input1_q_13" BEL "M_input1_q_14" BEL "M_input1_q_15" BEL
        "M_input2_q_13_1" BEL "M_input2_q_10" BEL "M_input2_q_11" BEL
        "M_input2_q_12" BEL "M_input2_q_13" BEL "M_input2_q_14" BEL
        "M_input2_q_15" BEL "M_input2_q_2_1" BEL "M_input2_q_2_2" BEL
        "M_input2_q_2_3" BEL "M_input2_q_14_1" BEL "M_input2_q_3_1" BEL
        "M_input2_q_3_2" BEL "M_input2_q_3_3" BEL "M_input2_q_15_1" BEL
        "M_input2_q_4_1" BEL "M_input1_q_13_1" BEL "M_input1_q_13_2" BEL
        "M_input1_q_13_3";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

